//header
header{
  height: 100vh;
  background: rgba(0,0,0,0.3);
}
.header-menu-d{
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100vh;
}
//.header-box-height .row{
//  height: 100vh;
//}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-top-viagens {
  padding: 0 !important;
}
.nav-viagens{
  position: relative;
  margin-top: -56px;
  font-size: 18px;
  background: rgba(0,0,0,.8);
  z-index: 2;
}
.nav-viagens a{
  padding: 15px 0;
}
//margin
.mt-12p{
  margin-top: 12%;
}
//video
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
#video_pattern {
  background:#fff;
  position: fixed;
  opacity: 0.8;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.sub-title{
  position: relative;
}
.line-sub{
  //position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #ffdd00;
  //left: 16%;
  //bottom: 7px;
}


.box-more {
  display:none;

}
.totop {
  position: fixed;
  bottom: 10px;
  right: 20px;
}
.totop a {
  display: none;
}

#loadMore {
  //padding: 10px;
  text-align: center;
  //background-color: #33739E;
  //color: #fff;
  //border-width: 0 1px 1px 0;
  //border-style: solid;
  //border-color: #fff;
  //box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
//#loadMore:hover {
//  background-color: #fff;
//  color: #33739E;
//}


.content-video-1{position:relative;}
.content-video-btn-1{
  background:rgba(255,255,255,0.7);
  border-radius: 50%;
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  text-align:center;
}
.content-video-btn-1 i{line-height:1.6;}
.content-video-btn-1 a{border-radius:50%;font-size:50px;line-height:1.6;}




.container-parallax {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.container-parallax section {
  width: 100%;
  height: 50vh;
  flex: 1;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.container-parallax section:nth-child(1) .image {
  background-image: url('http://viagens.nu/images/sliders/slider-2.jpg');
}
//.container-parallax section:nth-child(2) .image {
//  background-image: url(https://images.unsplash.com/photo-1462819067004-905a72ea3996?iq=100&fm=jpg&w=1000);
//}
//.container-parallax section:nth-child(3) .image {
//  background-image: url(https://images.unsplash.com/photo-1461770354136-8f58567b617a?iq=100&fm=jpg&w=1000);
//}
//.container-parallax section:nth-child(4) .image {
//  background-image: url(https://images.unsplash.com/photo-1461080639469-66d73688fb21?iq=100&fm=jpg&w=1000);
//}
//.container-parallax section:nth-child(5) .image {
//  background-image: url(https://images.unsplash.com/photo-1460804198264-011ca89eaa43?iq=100&fm=jpg&w=1000);
//}
//.container-parallax section:nth-child(6) .image {
//  background-image: url(https://images.unsplash.com/photo-1463123081488-789f998ac9c4?iq=100&fm=jpg&w=1000);
//}
.container-parallax section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
  opacity: 0.4;
}
.container-parallax section .stuff {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 70%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  color: #ffffff;
  margin: 0 auto;
  //font-size: 26px;
  position: relative;
}
.container-parallax section .stuff h2 {
  margin: 0px;
}
.container-parallax section .stuff:before, .container-parallax section .stuff:after {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #ffffff;
  content: "";
  margin: 30px 0;
}

#html5-watermark{
  display: none !important;
}

//destinos
.card-overlay-rgba{
  background: rgba(0,0,0,.3);
}



.owl-theme {
  position: relative;
}
.owl-next, .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
.owl-prev {
  left: -20px;
}
.owl-next {
  right: -20px;

}

.scrollspy-example {
  position: relative;
  height: auto;
  overflow: auto;
}

//itinerary
.box-route-ininerary{
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  -moz-column-gap: 1.5em;
  -o-column-gap: 1.5em;
  //border-left: 1px solid #dedede;
  padding: 15px 0 15px 60px;
}

.timeline {
  position: relative;
  padding-top: 10px;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 35px;
  height: 100%;
  width: 2px;
  background: #d7d7d7;
  z-index: -99;
}
.timeline-f:before{
  height: 50% !important;
}
.timeline-title span {
  background-color: #ffdd00;
  padding: 7px 15px 6px;
}
.timeline-point {
  position: absolute;
  left: 12px;
  top: 50%;
  //width: 20px;
  //height: 20px;
  background-color: #FFF;
  border: 3px solid #FFF;
  margin-top: -8px;
}
.timeline-point:before {
  content: "";
  height: 2px;
  width: 80px;
  position: absolute;
  background-color: #d7d7d7;
  left: 16px;
  top: 11px;
  z-index: -9999;
}
.timeline-custom-col {
  //width: 48%;
  margin: 4rem 0 4rem 4rem;
  position: relative;
  min-height: 1px;
  //padding-right: 15px;
  //padding-left: 15px;
  float: left;
}
.timeline-custom-col:before {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  background-color: #d7d7d7;
  left: -40px;
  top: 50%;
  z-index: -9999;
}
.timeline-location-block {
  padding: 30px 30px 20px 69px;
  position: relative;
  background-color: #fafafa;
  min-height: 250px;
  border-right: 2px solid #FFF;
}
.timeline-location-block .location-name {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
}
.timeline-location-block .location-name .icon-marker {
  position: absolute;
  left: -40px;
  top: -5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 1%;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 22px;
}

.timeline-custom-col.image-col:before {
  width: 15%;
}

.timeline-image-block {
  border-left: 2px solid #FFF;
  overflow: hidden;
  cursor: pointer;
  height: 250px;
}
