//header
.header-menu{
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100vh;
}
.header-box-height .row{
  height: 100vh;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav-top-viagens {
  padding: 0 !important;
}
.nav-viagens{
  margin-top: -56px;
  font-size: 18px;
  background: rgba(0,0,0,.8);
}
.nav-viagens a{
  padding: 15px 0;
}
//margin
.mt-12p{
  margin-top: 12%;
}
